<script type="text/javascript">
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      var id = <%= @songs[0].id%>;
      var party_id = <%= @songs[0].party_id %>; 

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '600',
          videoId: '<%= @songs[0].youtube_id%>',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      // var done = false;
       function onPlayerStateChange(event) {
         if (event.data == YT.PlayerState.ENDED) {
         	
         	var a=player.getVideoUrl();
         	var n=a.split("v="); 
         	delete_song(n[1]);
         	//alert(n[1]);
         	//player.loadVideoById("bHQqvYy5KYo");
         }
       }
       
      function delete_song(youtube_id)
      {
      	video_id={'id':youtube_id, 'party_id':party_id}
      	$.ajax({
      			url:"delete",
      			method:'get',
      			data: video_id,
      			success:function(data) {
      				    //alert(JSON.stringify(data.youtube_id));   
      				     //$('body').append();)); 
      				       player.loadVideoById(data.youtube_id);
                     id=data.id;
                     $('.first').remove();
                     $('.song').prepend('<h1 class="first">' + data.title +' '+data.artist +'</h1>');
      				     //$('body').append();
         				//alert(data.length); 
      					}
   			});
      } 
      function stopVideo() {
        player.stopVideo();
      }

</script>
<script type="text/javascript">
    
    function onYouTubePlayerReady(){
    	alert("api ready");
    }
    
    (function(){

   


   setInterval(function()
   {
   	
   	$.ajax({
      			url:"repeated_render",
      			method:'get', 
      			success:function(data) {
      				     $('.delete_body').remove();
      				     for(var i=0;i<data.length;i++)
      				     {
                    
                    if(data[i].id!==id)
      				     $('.songs').append('<div class="delete_body row"><div style="float:left;" class="col-md-5"><h4 class="delete">' + data[i].title +' '+data[i].artist +' '+data[i].album+' '+' </h4></div><div class="col-md-6"><button class="btn btn-primary btn-lg delete" onclick="sort(\'' + data[i].id +'\')">Vote <span class="glyphicon glyphicon-thumbs-up"></span></button><p style="padding-left:5%" class="delete">Votes: ' + data[i].votes + '</h4></div>');	
      				     }
      				     //$('body').append();
         				//alert(data.length); 
      					}
   			});
   	
   
   
   },500);
	})();
	
</script>
<div style="padding-top:6%;" class="container">
	<div class="row">
    	<div class="col-md-7">
      		<div id="player"></div>
      		<div class="song"><h1 class="first"><%=  @songs.first.title+" "+@songs.first.artist+" "%></h1></div>
    	</div>
    	<div class="songs col-md-5">
    		<div class="container">
      			<% @songs.each do |song| %>
      			<% if @songs.first!=song %>
      			<div class="delete_body row">
      				<div style="float: left;" class="col-md-5">	
      					<h4 class="delete" ><%=  song.title+" "+song.artist+" " %></h4>
      				</div>
      				<div class="col-md-6">
      					<button class="btn btn-primary btn-lg delete" onclick="sort('<%= song.id %>')">Vote <span class="glyphicon glyphicon-thumbs-up"></span></button><h4 style="padding-left: 5%;" class="delete">Votes: <%=song.votes.to_s %></h4>	
      				</div>
      			</div>
      		
      <% end %>
      <%end%>
      </div>
    	</div>
  	</div>
</div>

<!-- <iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/v/<%= @songs[0].youtube_id%>?version=3&enablejsapi=1" frameborder='0' allowfullscreen ></iframe> -->
